extends layout

block content
    .container-fluid
        // Miner info
        #minerInfo
            h1.display-3.text-center= title
            div.table-responsive
                table.table.table-bordered.table-striped.table-sm.table-inverse
                    thead
                        th Name
                        th Host
                        th Uptime
                        th ETH/ETC&nbsp;Stats
                        th Secondary Coin&nbsp;Stats
                        if hashrates
                            th ETH/ETC&nbsp;HR
                            th Secondary Coin&nbsp;HR
                        th Temp:Fan
                        th Pools
                        th Ver
                        th Comments
                        th Hard Reset
                    tbody
        #bittrex_balance
            h3.text-center Bittrex Balance
            table.table.table-bordered.table-striped.table.sm.table-inverse
                thead
                    th Coin
                    th Balance
                    th Rate
                    th USD
                tbody
        p#minerSummary
        p#lastUpdated
    script(src='/javascripts/monitor.js')
        // /Miner info
    // /Wrapper
