extends layout

block content
    .container-fluid
        // Miner info
        #minerInfo
            h2.text-center= title
            div.table-responsive
                table.table.table-bordered.table-striped.table-condensed
                    thead
                        th Name
                        th Host
                        th Uptime
                        th ETH/ETC&nbsp;Stats
                        th Secondary Coin&nbsp;Stats
                        if hashrates
                            th ETH/ETC&nbsp;HR
                            th Secondary Coin&nbsp;HR
                        th Temp:Fan
                        th Pools
                        th Ver
                        th Comments
                        th Hard Reset
                    tbody
        p#minerSummary
        p#lastUpdated
        .row
            #BTCmarketTable.col-md-4
                h2.text-center BTC-Market
                table.table.table-striped.table-condensed
                    thead
                        th Market Name
                        th Bid(Buy)
                        th Ask(Sell)
                        th Last
                    tbody
            #ETHmarketTable.col-md-4
                h2.text-center ETH-Market
                table.table.table-striped.table-condensed
                    thead
                        th Market Name
                        th Bid(Buy)
                        th Ask(Sell)
                        th Last
                    tbody
            #BTCETHProfit.col-md-2
                h2.text-center BTC-ETH
                table.table.table-striped.table-condensed
                    thead
                        th BTC -> ETH
                    tbody
            #ETHBTCProfit.col-md-2
                h2.text-center ETH-BTC
                table.table.table-striped.table-condensed
                    thead
                        th ETH -> BTC
                    tbody
        // /Miner info
    // /Wrapper
