extends layout

block content
    .container-fluid
        .row
            #BTCmarketTable.col-md-4.col-xs-12
                h2.text-center BTC-Market
                table.table.table-striped.table-sm.table-bordered.table-inverse
                    thead
                        th Market
                        th Buy (mBTC)
                        th Sell (mBTC)
                        th Volume (BTC)
                    tbody
            #ETHmarketTable.col-md-4.col-xs-12
                h2.text-center ETH-Market
                table.table.table-striped.table-sm.table-bordered.table-inverse
                    thead
                        th Market
                        th Buy (mETH)
                        th Sell (mETH)
                        th Volume (ETH)
                    tbody
            #BTCETHProfit.col-md-2.col-xs-12
                h2.text-center BTC-ETH
                table.table.table-striped.table-sm.table-bordered.table-inverse
                    thead
                        th Market
                        th BTC -> ETH
                    tbody
            #ETHBTCProfit.col-md-2.col-xs-12
                h2.text-center ETH-BTC
                table.table.table-striped.table-sm.table-bordered.table-inverse
                    thead
                        th Market
                        th ETH -> BTC
                    tbody

    script(src="/javascripts/market_sim.js")
        // /Miner info
    // /Wrapper
