extends layout

block content
    .container-fluid
        .row
            #PoloBalance.col-md-4
                h4.text-center Balances
                table.table.table-striped.table-sm.table-bordered.table-hover.table-inverse
                    thead
                        th Market
                        th Available
                        th On Orders
                        th Est (mBTC)
                    tbody
            #Orders.col-md-8
                h4.text-center Orders
                div.table-responsive
                    table.table.table-striped.table-sm.table-bordered.table-hover.table-inverse
                        thead
                            th Order #
                            th Name
                            th Date
                            th Rate
                            th Type
                            th Amount
                            th Total
                            th Cancel
                        tbody
        h4.text-center Market (mBTC)
        .row
            #Graphs.col-12
                div.table-responsive
                    table.table.table-striped.table-bordered.table-hover.table-inverse
                        thead
                            th(style="padding:0.3rem") Name
                            th(style="padding:0.3rem") MACD up down
                            th(style="padding:0.3rem") Graph
                        tbody
                            tr
                                td COLLECTING...

        div.container.text-center
            div.form-check.form-check-inline
                label.form-check-label
                    input.form-check-input(type="radio" name="radioOptions" checked id="inlineRadio25" value="0.25")
                    span 25%
            div.form-check.form-check-inline
                label.form-check-label
                    input.form-check-input(type="radio" name="radioOptions" id="inlineRadio50" value="0.5")
                    span 50%
            div.form-check.form-check-inline
                label.form-check-label
                    input.form-check-input(type="radio" name="radioOptions" id="inlineRadio100" value="1")
                    span 100%
            p#calculatedBTC

        .row
            #BTCmarketTable.col-12
                div.table-responsive
                    table.table.table-striped.table-sm.table-bordered.table-hover.table-inverse
                        thead
                            th Market
                            th Low
                            th High
                            th 0.5%
                            th Range
                            th Actions
                        tbody

    script(src="/javascripts/alert.js")
    script(src="/javascripts/graphs.js")
    script(src="/javascripts/poloniex.js")
        // /Miner info
    // /Wrapper
